@font-face {
	font-family: Alsina;
	src:url(fonts/Alsina.ttf);
}

body {
	font-family: Alsina;
	margin: 0;
}

h1 {
	font-size: 45px;
	margin-top: 15vh;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
	background: #b5c3b4;
	border: 4px solid #010101;
	box-shadow: 10px 10px 60px rgba(0,0,0,0.5);
}